

    



p {
    margin-top: 50px;               /* Set Margin*/
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
  }

  div {
    padding-top: 30px;              /* Set Padding */
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    
  }