

h1{
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 25px;                           /*FONT and ALIGNMENT Properties*/
    font-weight: 600;
    text-align: center;
  
}




p {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 20px;                           /*FONT and ALIGNMENT Properties*/
    font-weight: 400;
    text-align: center;
  
  }

  .center {
    margin: auto;                /*Horizontally center a block element (like <div>)*/
    width: 50%;
    border: 3px solid red;
    padding: 10px;
  }
  